
{% for error_message in error_messages %}
  <div class='row'>
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
         {{ error_message }}
      </div>
    </div>
  </div>
{% endfor %}

{% if error_messages is empty %}
<div class="card mb-2">
    <div class="card-header text-white bg-info">
      Paramètres TNT
    </div>

    <div class="card-body text-center pb-0">
      <div class="form-row">
        <div class="form-group col-4 mb-0">
          <p><b>Compte Expedio :</b> {{ tnt_account }}</p>
        </div>
      <div class="form-group col-4 mb-0">
        <p><b>Réference envoi :</b> {{ sending_reference }}</p>
      </div>
      <div class="form-group col-4 mb-0">
        <p><b>Type d'envoi :</b> {{ sending_type }}</p>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success btn-sm float-right mb-2 print-my-labels"> <i class="fa-solid fa-print mr-1"></i> Lancer l'impression</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Raison Sociale</th>
      <th scope="col">Prénom Nom</th>
      <th scope="col">Adresse 1</th>
      <th scope="col">Adresse 2</th>
      <th scope="col">Adresse 3 / Tél.</th>
      <th scope="col">Code Postal</th>
      <th scope="col">Ville</th>
      <th scope="col">Nb. de carton</th>
      <th scope="col">Poids Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% set i = 0 %}

      {% for label in labels %}
        {% set i = i + 1 %}
        <tr>
          <th scope="row">{{ i }}</th>
          <td>{{ label.Company }}</td>
          <td>{{ label.Name }}</td>
          <td>{{ label.Address1 }}</td>
          <td>{{ label.Address2 }}</td>
          <td>{{ label.Address3Phone }}</td>
          <td>{{ label.PostalCode }}</td>
          <td>{{ label.City }}</td>
          <td>{{ label.BoxNumber }}</td>
          <td>{{ label.TotalWeight }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>

<button type="button" class="btn btn-success btn-sm float-right print-my-labels"> <i class="fa-solid fa-print mr-1"></i> Lancer l'impression</button>
{% endif %}
