<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TNT'print{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('media/favicon.png') }}" />
            <link rel="stylesheet" href="{{ asset('css/plugins/font_awesome6_all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/plugins/boostrap.min.css') }}">
            <link href="{{ asset('css/common.css') }}" rel="stylesheet"/>

            <script type="text/javascript" src="{{ asset('js/plugins/jexcel.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/plugins/jexcel.css')}}" type="text/css" />

              <script type="text/javascript" src="{{ asset('js/plugins/jsuites.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/plugins/jsuites.css')}}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
          <img class='tnt-print-logo' src="{{ asset('media/TNT_print.png') }}" alt="">
          <h5 class="my-0 mr-md-auto font-weight-normal">TNT'print</h5>
          <i class="fa-solid fa-circle-info fa-3x text-info pointer pull-right help-me"></i>
        </div>

        <div class="pricing-header px-3 py-3 mx-auto text-center">
          <h1 class="display-4"><b>TNT'print</b></h1>
        </div>

        <div class="row  justify-content-center">
          <div class="col-offset-2 col-8 pl-5 mb-3">
        <div class="card">
          <div class="card-header text-white bg-info">
            Paramètres TNT
          </div>
          <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-4">
              <label for="tnt-account">Compte Expedio</label>
              <select class="form-control" id="tnt-account">
                <option>Imprimatur</option>
                <option>Maqprint</option>
              </select>
            </div>
          <div class="form-group col-4">
            <label for="sending-reference">Réference envoi</label>
            <input type="text" class="form-control" id="sending-reference" max='15' placeholder="Samse, Romus...">
            <small class="form-text text-muted">Limité à 15 caractéres max. </small>
          </div>
          <div class="form-group col-4">
            <label for="sending-type">Type d'envoi</label>
            <select class="form-control" id="sending-type">
              <option value="C">C - Colis</option>
              <option value="L">L - Liaison</option>
              <option value="S">S - Livraison le samedi</option>
            </select>
          </div>
        </div>
        <button type="button" id='check-my-labels' class="btn btn-success btn-sm float-right"> <i class="fa-solid fa-print mr-1"></i> Vérification avant impression</button>
      </form>
      </div>
      </div>
    </div>
    </div>
        <div class="row">
          <div class="col pl-5">


          <div id="spreadsheet"></div>
          </div>
        </div>

        {# custom modal #}
        <div id="custom-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
    {% block scripts %}
    <script type="text/javascript" src="{{ asset('js/plugins/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/boostrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
    {% endblock %}
</html>
